<nav class="navbar navbar-expand sticky-top navbar-custom">
    <div class="container-fluid">      
        <span class="navbar-brand mb-0 h1 logo">
            <a class="logo" routerLink="overview" routerLinkActive="active"><img src="../../assets/KevlarDarkLogo.svg"
                height="60"
            >
            <span class="brand">Kevlar</span></a>
          
          
          
      </span>
      
    

    <ul class="navbar-nav list">
        <li class="nav-item">
            <a class="links" routerLink="overview" routerLinkActive="active">Overview</a>
        </li>
        <li class="nav-item">
            <a class="links"routerLink="documents" routerLinkActive="active">Docs</a>
        </li>
        <li class="nav-item">
            <a class="links"routerLink="examples" routerLinkActive="active">Examples</a>
        </li>
        <li class="nav-item">
            <a class="links"routerLink="tutorials" routerLinkActive="active">Tutorials</a>
        </li>

        <li class="nav-item">
            <a class="download"routerLink="download" >Download</a>
        </li>
        
        
        
    </ul>
  </div>    
  </nav>

  <router-outlet></router-outlet>
