<meta name="viewport" content="width=device-width, initial-scale=1">


<nav class="navbar navbar-expand-lg mb-3 sticky-top navbar-custom">
    <!-- <div class="container-fluid">       -->
        <span class="navbar-brand mb-0 h1 logo">
            <a class="logo" routerLink="overview" routerLinkActive="active"><img src="../../assets/KevlarDarkLogo.svg"
                height="60"
            >
            <span class="brand">Kevlar</span></a>
          
          
          
      </span>
      
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">

    <ul class="navbar-nav list">
        <li class="nav-item">
            <a class="links" routerLink="overview" routerLinkActive="active">Overview</a>
        </li>
        <li class="nav-item">
            <a class="links"routerLink="documents" routerLinkActive="active">Docs</a>
        </li>
        <li class="nav-item">
            <a class="links"routerLink="examples" routerLinkActive="active">Examples</a>
        </li>
        <li class="nav-item">
            <a class="links"routerLink="tutorials" routerLinkActive="active">Tutorials</a>
        </li>

        <li class="nav-item">
            <a class="download"routerLink="download" >Download</a>
        </li>
        
        
        
    </ul>
    </div>
    <!-- <a class="download"routerLink="download" >Download</a> -->

  <!-- </div>     -->
  </nav>

  <router-outlet></router-outlet>
