<div class="body">
    <div class="left">
        <div class="slogan">
            Plan, Code, Test
        </div>
        <p>
            Build a fast black box testing tool with Kevlar, a 
            system that automates black-box testing. 
            It is platform-independent and works for any 
            programming language. Furthermore, it can be 
            learnt entirely in 5 minutes.
        </p>
        <button type="button" class="btn button">
            Get Started
        </button>
        <div class="version">
            <div>
                Currently <span class="current">v2.0</span>
            </div>
            <div >
                <a href="url" class="release">All releases</a>
            </div>
            
        </div>
        
    </div>
</div>

<!-- <p>overview works!{{x}} </p> -->
