@font-face {
  font-family: "Roobert";
  src: local("Roobert"),
    url(../../assets/fonts/Roobert-Regular.woff) format("truetype");
}

@font-face {
  font-family: "RoobertBold";
  src: local("RoobertBold"),
    url(../../assets/fonts/Roobert-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "UbuntuMono";
  src: local("UbuntuMono"),
    url(../../assets/fonts/UbuntuMono-Regular.ttf) format("truetype");
}

.body {
  font-family: Roobert;
  background-color: #212120;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
}

.landing {
  background-color: pink;
  height: 100vh;
  width: 100;
}

.left {
  position: absolute;
  left: -500px;
  padding: 50px;
  /* padding-right: 20px; */
  padding-top: 80px;
  height: 100vh;
  display: flex;
  width: 50%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  background-color: #212120;
  animation: slideLeft 0.5s forwards;
  animation-delay: 0;
}

.leftContainer {
  height: 100vh;
  width: 100%;
}

.right {
  position: absolute;
  right: -500px;
  width: 50%;
  /* background-color: #212120; */
  background-color: #212120;

  height: 100vh;
  padding: 50px;
  padding-top: 70px;
  animation: slideRight 0.5s forwards;
  animation-delay: 0;
}

.rightContainer {
  height: 100vh;
  width: 100%;
}

.slogan {
  font-family: RoobertBold;
  color: #d9fa3c;
  font-size: 50px;
}

p {
  margin-top: 20px;
  width: 90%;
  line-height: 40px;
  font-size: 20px;
}

.button {
  font-size: 20px;
  margin-top: 30px;
  font-family: RoobertBold;
  background-color: #c761ff;
  color: white;
}

.button:hover {
  background-color: #844fba;
}

.version {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.current {
  font-family: RoobertBold;
  font-size: 20px;
}

.release {
  margin-left: 10px;
  color: white;
  text-decoration: underline;
  /* text-decoration: none; */
}

/* .loading {
  margin-bottom: 50px;
} */

.progress-bar {
  background-color: #844fba;
  width: 0;
  height: 2px;
  animation: progress 8s ease-in-out infinite;
}
.progress {
  background-color: #979797;

  height: 2px;
}

@keyframes progress {
  0% {
    width: 0;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.windowTab {
  background-color: #3d3d3d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.window {
  margin-top: 30px;
}

.control {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #c3c3c3;
  margin-right: 5px;
}

.content {
  overflow: hidden;
  height: 400px;
  width: 100%;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.video {
  margin-top: -200px;
  margin-left: 10px;
}

.title {
  /* background-color: pink; */
  font-family: RoobertBold;
  font-size: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.para {
  line-height: 30px;
}

.plan {
  display: flex;
  flex-direction: row;
}

.planHeader {
  font-family: RoobertBold;
  font-size: 50px;
  color: #d9fa3c;
}

.planDescription {
  padding: 50px;
  width: 50%;
  color: white;
}

.planDemo {
  margin-top: 50px;
}

.planWindow {
  /* margin-top: 50px; */
  font-family: UbuntuMono;
  padding: 30px;
  height: 400px;
  width: 500px;
  background-color: #2f3841;
}

.keyword {
  font-style: italic;
}

.keywordColor {
  color: #ce91ca;
}

.operator {
  color: #ff714c;
}

.param {
  color: #ffaa43;
}

.function {
  color: #37b7b5;
}

.return {
  margin-left: 30px;
}

.advertisment {
  /* background-color: red; */
  height: 1000px;
  color: white;
  /* width: 100%; */
}

@keyframes slideLeft {
  100% {
    left: 0;
  }
}

@keyframes slideRight {
  100% {
    right: 0;
  }
}

@media screen and (max-width: 980px) {
  .body {
    font-family: Roobert;
    background-color: #212120;
    width: 100%;
    height: 150vh;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .leftContainer {
    height: 70vh;
    width: 100%;
  }
  .rightContainer {
    height: 100vh;
    width: 100%;
  }
  .left {
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
  }
  .right {
    height: 500px;
    padding-top: 10px;
    width: 100%;
  }
}

/* @media screen and (max-width: 500px) {
  .leftContainer {
    background-color: pink;
    height: 220vh;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
  }
} */
