<div class="landing">
    <div class="body">

    <div class="left">
        <div class="slogan">
            Plan, Code, Test
        </div>
        <p>
            Build a fast black box testing tool with Kevlar, a 
            system that automates black-box testing. 
            It is platform-independent and works for any 
            programming language. Furthermore, it can be 
            learnt entirely in 5 minutes.
        </p>
        <button type="button" class="btn button">
            Get Started
        </button>
        <div class="version">
            <div>
                Currently <span class="current">v2.0</span>
            </div>
            <div >
                <a href="url" class="release">All releases</a>
            </div>
            
        </div>
        
    </div>


    <div class="right">
        <div class="loading">
            <div class="progress">
                <div class="progress-bar" 
                role="progressbar" 
                aria-valuenow="60" 
                aria-valuemin="0" 
                aria-valuemax="100" 
                style="max-width: 100%">
                </div>
            </div>

        </div>
        <div class="window">
            <div class="windowTab">
                <div class="control"></div>
                <div class="control"></div>
                <div class="control"></div>
                
            </div>
            <div class="content">
                <video class="video" width="1000" height="1000" oncanplay="this.play()" playsinline autoplay muted onloadedmetadata="this.muted = true" loop>
                    <source src="../../assets/videos/demo.mp4" type="video/mp4" />
                  </video>
            </div>

        </div>
    </div>
    </div>

    <div class="advertisment">
        
        <div>
            <div class="title">
                Blackbox testing with ease
            </div>
            <div class="plan">
                <div class="planDescription">
                    <div class="planHeader">
                        Plan
                    </div>
                    <div class="para">
                        Plan the different functions that you want to test using Kevlar.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </div>
                </div>
                <div class="planDemo">
                    <div class="windowTab">
                        <div class="control"></div>
                        <div class="control"></div>
                        <div class="control"></div>
                    </div>
                    <div class="planWindow">
                        <span class="keyword keywordColor">
                            def 
                        </span>
                        <span class="function">
                            divide
                        </span>
                        (<span class="param">a</span>,<span class="param">b</span>):
                            <div class="return">
                                division <span class="operator">= </span>a<span class="operator">/</span>b
                            </div>
                            <div class="return">
                                <span class="keywordColor">return </span>
                                division
                            </div>
                    </div>
                </div>
            </div>
           
            

        </div>

    </div>

</div>

<!-- <p>overview works!{{x}} </p> -->
